# 금융감독원 API
FSS_API_KEY=your_fss_api_key_here

# 한국투자증권 API
KIS_APP_KEY=your_kis_app_key_here
KIS_APP_SECRET=your_kis_app_secret_here

#GOLDAPI API
GOLD_API_KEY=your_gold_api_key_here

# OpenAI API
OPENAI_API_KEY=your_openai_api_key_here

# 카카오맵 API
KAKAO_REST_API_KEY=your_kakao_api_key_here

#네이버 API
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret

# SMTP 이메일 설정
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_gmail
EMAIL_HOST_PASSWORD=your_gmail_app_password
EMAIL_USE_TLS=True
